.layout {
  .navbar {
    background-color: #202020;
    height: 80px;
    padding: 0 2rem;

    .navbar-brand {
      margin-right: 0;
      .impermax-brand {
        width: 1.75rem;
      }
    }
    
    .claim-button, .claim-button:focus, .claim-button:active {
      height: 38px;
      line-height: 100%;
      margin-right: 15px;
      border-radius: 50px;
      font-weight: bold;
      background: #ffffff;
      border: 3px solid #00b675;
      color: #00b675;
      box-shadow: none;
      .spinner-border {
        margin-left: 8px;
        position: relative;
        bottom: 1px;
      }
    }
  }
}