
.footer {
  text-align: center;
  padding: 25px;
  a, a:link, a:visited, a:hover {
    color: #5e6265;
    margin-right: 30px;
  }
  a:hover {
    text-decoration: underline;
  }
  a:after {
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    background-color: #5e6265;
    border-radius: 50%;
    position: relative;
    left: 15px;
    bottom: 2px;
  }
  a:last-child {
    margin-right: 0;
  }
  a:last-child:after {
    content: none;
  }
}
