.lending-pools-table {
  table {
    margin-bottom: 0;
  }
  thead {
    th {
      color: #818d95;
      font-weight: normal;
      font-size: 0.875rem;
      border-top: 0;
      border-bottom: 1px solid #e3e6e8;
      padding: 0.5rem 0.75rem;
    }
    th:first-child {
      padding-left: 1rem;
    }
  }
  .lending-pools-row {
    line-height: 1.9;

    td {
      border-top: 0;
      border-bottom: 1px solid #e3e6e8;
    }

    .currency-name {
      display: flex;

      .combined {
        flex-grow: 0.75;
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        .currency-overlapped > img {
          width: 2rem;
          position: relative;
        }
        .currency-overlapped > img:first-child {
          z-index: 2;
        }
        .currency-overlapped > img:last-child {
          left: -0.625rem;
        }
      }

      .currency-icon {
        width: 1.25rem;
        position: relative;
        top: -0.1rem;
        left: -0.375rem;
      }
    }
  }
  .lending-pools-row:last-child {
    td {
      border-bottom: 0;
    }
  }
}