.invert-price {
  width: 13px;
  height: 13px;
  background-image: url(invert-price.svg);
  background-size: contain;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 3px;
  margin-bottom: 1px;
  cursor: pointer;
}